<!DOCTYPE html>
<html>
<title>Javascript Practice</title>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 class="call">Hello Javascript</h1>
<h1 class="apply">Hello Javascript</h1>
<h1 class="bind">Hello Javascript</h1>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/js/js-prototype.js"></script>
<!--<script src="/js/js-promise.js"></script>-->
<!--<script src="/js/js-object-pattern.js"></script>-->
<!--<script src="/js/main.js"></script>-->
</body>
</html>